@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto+Mono:wght@500&display=swap');

* {
  padding: 0px;
  margin: 0px;
  background-color: rgb(228, 157, 4);
  color: white;
  font-family: 'Roboto Mono', monospace;
}
.flex {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.stopwatch {
  margin: 100px 0px;
  font-size: 30px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

button {
  padding: 10px 40px;
  font-size: 18px;
  border: solid white;
  border-radius: 10px;
  transition-duration: 250ms;
}

button:hover {
  background-color: white;
  color: rgb(228, 157, 4);
}
